In [1]:
%matplotlib inline
import pandas as pd

In [2]:
#from core.display import HTML
#import sys

#css = open('~/documents/data/style-table.css').read() + open('~/documents/data/style-notebook.css').read()
#HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('~/documents/data/titles.csv', index_col=None, encoding = 'utf-8') 
titles.head()

                                       title  year
0                            The Other Woman  1921
1                                  Flashburn  2017
2                     Das Schweigen im Walde  1955
3                            Kurobe no taiyo  1968
4  Bed & Breakfast: Love is a Happy Accident  2010

In [4]:
cast = pd.read_csv('~/documents/data/cast.csv')

c = cast #give datafram cast the  alias c
c.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [5]:
len(titles[['title']])

226013

### What are the earliest two films listed in the titles dataframe?

In [6]:
titles.sort_values('year').head(2)

                     title  year
133917          Miss Jerry  1894
172447  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [9]:
t = titles
len(t[t.title == 'Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [ ]:
t = titles
t[t.title == 'North by Northwest']

### When was the first movie titled "Hamlet" made?

In [ ]:
t = titles
t[t.title == 'Hamlet'].sort_values('year').head(1)

### List all of the "Treasure Island" movies from earliest to most recent.

In [ ]:
t = titles
t[t.title.str.startswith('Treasure Island')].sort_values('year')

### How many movies were made in the year 1950?

In [ ]:
len(t[t.year == 1950])

### How many movies were made in the year 1960?

In [ ]:
len(t[t['year'] == 1960])

### How many movies were made from 1950 through 1959?

In [ ]:
len(t[(t['year'] >= 1950) & (t['year'] <= 1959)])

### In what years has a movie titled "Batman" been released?

In [ ]:
t[t.title.str.startswith('Batman')].sort_values('year')

### How many roles were there in the movie "Inception"?

In [ ]:
c_inception = c[c.title == 'Inception']
len(c[c.title == 'Inception'])

In [ ]:
c_inception.head()

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [ ]:
c_inception[c_inception.n.notnull()]
len(c_inception)

### But how many roles in the movie "Inception" did receive an "n" value?

In [ ]:
len(c_inception[c_inception.n.notnull()])

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [ ]:
c_nbn = c[c.title == 'North by Northwest']
c_nbn[c_nbn.n.notnull()]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [ ]:
c_sleuth1972 = c[(c.title == 'Sleuth') & (c.year == 1972)].sort_values('n')
c_sleuth1972
c_sleuth1972 [['name', 'n']]

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [ ]:
c_sleuth2007 = c[(c.title == 'Sleuth') & (c.year == 2007)].sort_values('n')
c_sleuth2007 [['name', 'n']]

### How many roles were credited in the silent 1921 version of Hamlet?

In [ ]:
c_hamlet1921 = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c_hamlet1921.n.notnull())
#lucas: if I were to modify the dataframe c, how do I restore it to the original value? Do I have to reread?
#What is the best form here?

### How many roles were credited in Branagh’s 1996 Hamlet?

In [ ]:
c_hamlet1996 = c[(c.title == 'Hamlet') & (c.year ==1996)]
len(c_hamlet1996)
len(c_hamlet1996.n.notnull())

### How many "Hamlet" roles have been listed in all film credits through history?

In [ ]:
len(c[c.character =="Hamlet"])

### How many people have played an "Ophelia"?

In [ ]:
c_ophelia = c[c.character == 'Ophelia'].name.unique()
len(c_ophelia)

len(c[c.character == 'Ophelia'])

### How many people have played a role called "The Dude"?

In [ ]:
len(c[c.character == 'The Dude'].name.unique())

### How many people have played a role called "The Stranger"?

In [ ]:
len(c[c.character == "The Stranger"].name.unique())

### How many roles has Sidney Poitier played throughout his career?

In [ ]:
c = cast
c = c[c.name == "Sidney Poitier"]
len(c)

### How many roles has Judi Dench played?

In [ ]:
c = cast
c = c[c.name == "Judi Dench"]
len(c)

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [ ]:
c = cast
c[(c['name'] == "Cary Grant") & (c['n']==2)]

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [ ]:
c = cast
#c = c[(c['name'] == 'Cary Grant') & (c['year'] >= 1940) & (c['year'] <= 1949)].sort_values('year')
#c = c[c.name == 'Cary Grant'] 
c[(c['name'] == 'Cary Grant') & (c['year'] >= 1940) & (c['year'] <= 1949) & (c['n'] == 1)]

### How many roles were available for actors in the 1950s?

In [ ]:
c = cast
c = c[(c['type'] == 'actor') & (c['year'] >= 1950) & (c['year'] <= 1959)]
len(c)

### How many roles were available for actresses in the 1950s?

In [ ]:
c = cast
c = c[(c['type'] == 'actress') & (c['year'] >= 1950) & (c['year'] <= 1959)]
len(c)

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [ ]:
c = cast
c = c[(c['n'] == 1) & (c['year'] <= 1980)]
len(c)

### How many non-leading roles were available through from the beginning of film history through 1980?

In [ ]:
c = cast
c = c[(c.n >= 2) & (c.year <= 1980)]
len(c)

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [ ]:
c = cast
c = c[(c.n.isnull()) & (c.year <= 1980)]
len(c)

In [12]:
titles

                                            title  year
0                                 The Other Woman  1921
1                                       Flashburn  2017
2                          Das Schweigen im Walde  1955
3                                 Kurobe no taiyo  1968
4       Bed & Breakfast: Love is a Happy Accident  2010
...                                           ...   ...
226008                                     Eskimo  1930
226009                           Boulevard Nights  1979
226010                                Gone Tubing  2005
226011                        Rich Man, Poor Girl  1938
226012                   Oh Darling Yeh Hai India  1995

[226013 rows x 2 columns]

In [13]:
len(titles)

226013

In [14]:
titles.head(8)  #shows first 8 rows
titles.tail()  #shows last 5 rows (default)
#use escape + b to avoid having the browser scroll down

                           title  year
226008                    Eskimo  1930
226009          Boulevard Nights  1979
226010               Gone Tubing  2005
226011       Rich Man, Poor Girl  1938
226012  Oh Darling Yeh Hai India  1995

In [16]:
h = titles.head()  #titles is a functional data frame. can use this to get teh first n rows and save them to 8))
h = titles.sample(n=20) #will give you a random sample of the data
h

                                               title  year
128563                               La robe du soir  2009
2208                    Bruciati da cocente passione  1976
71653                                        Berdugo  1998
118299                                          Zeus  2016
114351                                        Ahimsa  1979
140946                                 Pashu Sangram  1982
135867                                 Dongala Mutha  2011
115936                                     The Visit  2000
38287                                      Curvature  2017
12327                                         Roxana  2018
108589                               Guo bu xin lang  1988
9208                                          I Will  1919
168697  Guns of El Chupacabra 3: The Lost Interviews  1999
2656                                    Nippon G-men  1956
58559                      Leningradtsy, deti moi...  1981
170479                 Tempi nostri - Zibaldone n. 2  1954
81446                                        Outland  1981
36654                                         Sarang  1968
171764                                   Apokalips X  2014
157789                          The Girl of the West  1925

In [ ]:
#filtering: lets you reduce a dataframe to rows that match criteria
#columns are called series!
h['year'] #this returns a series ()
#can do math as if you're operating on one number
h['year'] + 100 #returns each row + 10
h['year'] // 10  * 10 # a //  divides a by n and truncates (rouonds down) to the integer below. So year //10 * 10 returns decade of film

In [ ]:
#alternatively, except if year is a variable, can use
h.year > 1985  #for which rows is the year column in h > 1985

In [ ]:
h['year'] > 1985  #difference between

In [ ]:
h

In [ ]:
h['year']title

In [ ]:
#can also access the column with dot method IF the column's name has no spaces or special characters
h.year  #called an attribute lookup. Also doesn't work if year is some native attribute of dataframes in pandas

In [ ]:
h.year > 1985 #returns a booleans

In [ ]:
h[h.year > 1985]  #This returns the rows that are >1985 (ie returns True on h.year > 1985)
#h[h.year > 1980 and h.year < 1985]  #ERROR because (h.year < 1980) has some Trues and some Falses. Same for (h.year >1985)
#Instead, need to use ampersand i.e. & for elementwise and. Works because & means bitwise and
#h[h.year > 1980 & h.year < 1985]   #still get ERROR: because of order of opperations, it processes this as
#h[h.year > (1980 & h.year) < 1985] which doesn't make sense
#So need to use parens to define order of operations
h[(h.year > 1980) & (h.year < 1985)] 
h[(h.year < 1980) | (h.year >= 1990)]  #OR is |

In [ ]:
#define aliases
t = titles
t[t.title == 'Macbeth']
#t[t.title == 'Macbeth'].sort gives an error because sort attribute has been deprecated (discontinued).

#Now you can sort by year or sort by index 
t[t.title == 'Macbeth'].sort_values('year') 
#or sort by index
t[t.title == 'Macbeth'].sort_index() 
#NOTE that sort_index doesn't take an argument because (duh) it sorts by index

#YOu can take the first n rows or the last n rows with head or tail e.g.
t[t.title == 'Macbeth'].sort_values('year').head(10)
t[t.title == 'Macbeth'].sort_values('year').tail()

 

#t.year.sort()  #gives an error. So does 
#t.year.order() also returns an error. 
#Now, you use sort_values sort_index for BOTH series and dataframes 
t.year.sort_values()

In [ ]:
h = cast.head()  
h[h.n.isnull()]  #shows all the rows where n is null
#If you want to know if n is a number rather than a null or other non-number
h = h[h.n.notnull()]  #NOte that this does NOT change h . Doing a computation doesn't do anything unless you save it to a variable
h
#Again,
h.n.isnull() #will just give you True or False depending on whether n is a null. 
#Have to use h[ ] around it to actually filter.
#41:15

#similarly
#x = 10
#x +20
#x
#These are in place operations that don't change x unless you save it to a variable

In [ ]:
#If you want to filter for whether string STARTS with "Hamlet" (e.g. Hamlet  (II))
#For a string, you could use the string method .startswith or .endswith
'Hamlet (II)'.startswith('Hamlet')

#But that doesn't work for a series  because these collid with other series methods
#h.title.startswith('The')  #This gives an ERROR because string methods like .startswith don't work for series
#The string method for columns looks like
h.title.str.startswith('The')
h.title.str.endswith('The')
h.title.str.len()
t.title.str.contains('the')

#These are pronounced "dot stir" operations

In [ ]:
#How many times does each value appear. How many movies are listed for each year? 
#Can take usual operations: head(), tail()
titles.year.value_counts()
titles.year.value_counts().head()

In [ ]:
#Can plot this
titles.year.value_counts().plot()
#This doesn't plot correctly because it is ordered by frequency instead of value, 
#so the plot jumps between the late 1800s and the current period
#Note that year is the index here

In [ ]:
#Need to sort by index, which is the year. Sort_values sorts the values. Need to sort by index
titles.year.value_counts().sort_index()
#Lucas: Any way to do this with bracket notation?

In [ ]:
#Now we can plot by index (year)
titles.year.value_counts().sort_index().plot()

In [ ]:
#How many times is Kermit in the cast each year?
c = cast
c = c[c.character == 'Kermit the Frog']
c.plot(x = 'year', y = 'n', kind = 'scatter')

In [ ]:
c.head()
#If you want to filter the table to get only year and frequency
c.head()[['year', 'n']] #the filter takes as its argument the list ['year', 'n']

In [ ]:
%time #Do not use the one called timeit because it runs the cell 4 times and doesn't put results in the output space
#Index. Lets you access data more quickly
#Run .head() first to see your columns
cast.head()
cast[cast.title == "Sleuth"]
#This takes a long time because you need to go through nearly 2.5 million entries

In [ ]:

c = cast.set_index(['title'])
c.head()
#Note that the title column is gone. Title is transformed into the index

#In pandas it's .loc

In [ ]:
%time
c.loc['Sleuth']  ##This is almost like a python dictionary where you can lookup rows using index in brackets. 
#c.loc is faster only when index is sorted as in the cell below,  so it can quickly zoom in on rows with index 'sleith'
#That doesn't explain why it's quicker than just using sort_values

In [ ]:
c = cast.set_index(['title']).sort_index()
c.head(20)

In [ ]:
%time
c.loc['Sleuth']

In [ ]:
%time 
c.loc['The Wizard of Oz']

In [ ]:
#You can have multiple indexes, an index with 2 levels
c = cast.set_index(['title','year']).sort_index()
c.head()
c[c.character == 'Sleuth']

In [ ]:
%time
c.loc['Sleuth']
c.head()
#c.loc['Sleuth'] now returns a dataframe with a second index

In [ ]:
%time
#c.loc['Sleuth'][1972] Returns an error because you need another .loc before the 2nd index
c.loc['Sleuth'].loc[1972]
#Equivalent to the above: Can also pass in all the levels of index in 1 round
c.loc[('Sleuth', 1972)]

In [ ]:
%time
#You can also set a new index
#c.loc[('Sleuth', 1972)].reset_index('year')
#can also do this with 2 indices
c.loc[('Sleuth', 1972)].reset_index(['year','title'])  
#Note: set_index and reset_index take a LIST as argument

In [ ]:
%time
Ω
c.loc[('Sleuth', 1972)].reset_index()
#If you reset_index with no argument, Pandas reindexes by row number

In [ ]:
#Indexing or filter is easier if you have the simplest possible data type
#Int is better than float, float better than string

In [ ]:
#Lucas: Why is c.loc faster with 2 indices than 1? Tuples

In [ ]:
#Groupby: This is the more usual way of setting a hierarchical index
c = cast
c = c[c.name == 'George Clooney']
c.head(40)
c.groupby(['title', 'year', 'character'])
c.groupby(['title', 'year', 'character']).size()
#This just gives you the properties of the object. 
#c.groupby(['title', 'year', 'character']).size()  #Returns the num of rows that match for a particular index
#groupby automatically sorted 
#Can do .loc on this with
c.groupby(['title', 'year', 'character']).size().loc['Curdled']

In [ ]:
c.groupby(['title', 'year', 'character']).size()
c.groupby(['year']).size()
#If you want to change the min value on an axis, can use xlim or ylim
c.groupby(['year']).size().plot(ylim = 0, style = '-*')

In [ ]:
#Can also take max value or min, mean etc
c = cast
c = c[c.name == 'George Clooney']
c.groupby(['year']).n.max()
c.groupby(['year']).n.min()
c.groupby(['year']).n.mean()

In [ ]:
#You can groupby a series that is not in the original data.
#c.year // 10 * 10 is a new column that isn't formally added, same as c.name == 'George Clooney' is a column
c = cast
c = c[c.name == 'George Clooney']  
c.groupby(c.year // 10 * 10).n.size()

In [ ]:
c = cast
c = c[c.name == 'George Clooney']  
c.groupby(['year']).n.size()

In [ ]:
c = cast
c = c[c.name == 'George Clooney']
c.groupby('title').size()

In [ ]:
#For groupby
c.groupby('title').size()
#If you want to refer to a column (series) label as a whole, can use just 'title' or whatever'
c.groupby(c.year //10 * 10).size()
#or
c.groupby(c['year'] //10 * 10).size()
#If you want to do an operation on the elements of that column (like grouping by year //10) 

#you need to use c['year'] or c.title

In [ ]:
#Comparing 
c = cast
c.groupby([c.year // 10 * 10, 'type']).size()
#Note that you need the brackets around [c.year // 10 * 10, 'type'] b/c this is a list

In [ ]:
#Stacking and unstacking operations
#Compare the ns (how important the character is) for Oscar the Grouch and Kermit the frog
c = cast
c = c[(c.character == 'Kermit the Frog') | (c.character == 'Oscar the Grouch')]
c.groupby(['character', c.year // 10 * 10]).size()

In [ ]:
#Unstack lets get data that is vertically far apart (like kermit vs oscar) and set it next to each other by pivoting 
#index to columln

#Rows AND columns are indexed
#columnwise operations UNSTACK. remember unstack starts with u (up, so it converts Rows to columns (up and down)
#Stack pivots columns to rows
c.unstack()
#This gives you nonsense because we're trying to unstack the series
#the series that holds size()
#So we need to give that series a name (like g) and unstack g

In [ ]:
g = c.groupby(['character', c.year // 10 * 10]).size()
g.unstack()
#Think of the index of the series g as a tuple: ('character,' 'year'). tuple[0] is character, tuple[1] is year
#By default (no arguments) unstack uses the inmermost level of the index as the column. Here, it's 'year'

In [ ]:
#If we want it to stack according to a different index, we use that index of the tuple (0) for the 1st index character, 1 for the second year)
#So to have the characters as the column,
u = g.unstack(0)
u

In [ ]:
#Unstacking allows us to compare how often Kermit vs. Oscar  appear per year as characters
u['Kermit the Frog']- u['Oscar the Grouch']

In [ ]:
#Stack and unstack are reciprocal operations (stacking and then unstacking gives you back the original dataframe
u = g.unstack(1)
u.stack()

In [ ]:
g

In [ ]:
#Note: because there is no 1970 row for Oscar, Pandas fills in NaN instead of 0 by default
≈
u
#This is good, e.g. for financial data, because DOW is missing on Saturday. It's not 0

In [ ]:
#Handling missing data with unstack/stack
#If you want to fill in the NaNs, you can use the fillna method to fill in a string or a 0
#Can fill in any int, float or string. For example, can fill in a blank
u = g.unstack(0).fillna('')
u
#In this case, fill in 0 because if an entry for a character is missing, that means 0 roles that year
u = g.unstack(0).fillna(0)

u

In [ ]:
#Never let all the column indices (or row indices) be completely removed by unstack/stack
g.unstack('character').unstack('year')
#Unstacking one too many times moves the data back down to rows
#In Pandas dataframe has at least one row index and one column index
#So if you do enough stacks/unstacks to get rid of all column or row indices, 
#it returns all your indices as series indices
g.unstack('character').stack() #This is stacking the only column label, character
#Also gives you a series!

In [ ]:
g['Kermit the Frog'] - g['Oscar the Grouch']

In [ ]:
#We can avoid this by creating an extra column 
df = g.unstack('character')
df['extra']=1
df = df.set_index('extra', drop = True, append = True)
#drop = True means removing the column from the main data 
#append= True means append the new column as an index column 
df

In [ ]:
#How to fill in missing rows in index (e.g. missing years). Reindex
df.reindex(list(range(1895, 2017)),fill_value=0)

In [ ]:
#CONTINUES ON EXERCISE-5